.so-widget-sow-image-default-813df796d9b1 .sow-image-container .so-widget-image {
  display: block;
  max-width: 100%;
  width: inherit;
  height: auto;
}
/*
     FILE ARCHIVED ON 20:44:03 Jun 16, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:10:59 Apr 02, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.9
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.011
  esindex: 0.018
  cdx.remote: 11.882
  LoadShardBlock: 91.158 (3)
  PetaboxLoader3.datanode: 134.481 (4)
  PetaboxLoader3.resolve: 71.702 (2)
  load_resource: 132.402
*/