.so-widget-sow-image-default-46f30e3d504b .sow-image-container {
  text-align: center;
}
.so-widget-sow-image-default-46f30e3d504b .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
/*
     FILE ARCHIVED ON 20:44:31 Jun 16, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:10:56 Apr 02, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.039
  exclusion.robots: 0.031
  exclusion.robots.policy: 0.014
  esindex: 0.015
  cdx.remote: 13.403
  LoadShardBlock: 870.22 (3)
  PetaboxLoader3.datanode: 50.192 (4)
  load_resource: 75.363
  PetaboxLoader3.resolve: 60.124
*/